:root{
    --primary-color:rgba(3, 95, 86, 0.68);
    --secondary-color: #fff;
}
body{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.navbar{
    background: linear-gradient( to right ,var(--primary-color),var(--primary-color) ,#fff);
   
}

.navbar-brand{
    color: var(--secondary-color);
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
.navbar-brand:hover{
    color: var(--secondary-color);
}
.label{
    font-size: 26px;
    font-weight: bolder;
}
.form-control{
    width: 500px;
    color: var(--primary-color);
}
.form-control:focus{
    
    box-shadow: 0px 0px 5px 1px  var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-add{
    width: 100px;
    background: var(--primary-color);
    height: 40px;
    border: none;
    border-radius: 10px;
    color: var(--secondary-color);
    cursor: pointer;
    font-weight: bolder;
}
.btn-clear{
    width: 100px;
    background: transparent;
    height: 40px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    font-weight: bolder;
    cursor: pointer;
}
.btn-undo{
  
    width: 60px;
    background: var(--secondary-color);
    height: 35px;
    border: none;
    border-radius: 10px;
    color: var(--primary-color);
    cursor: pointer;
    font-weight: bolder;
}
.btn-delete{
    width: 60px;
    background: transparent;
    height: 35px;
    border: 1px solid red;
    border-radius: 10px;
    color: red;
    font-weight: bolder;
    cursor: pointer;
}
.btn-done{
    width: 60px;
    background: var(--primary-color);
    height: 35px;
    border: none;
    border-radius: 10px;
    color: var(--secondary-color);
    cursor: pointer;
    font-weight: bolder;

}
.btn-add:focus,
.btn-clear:focus,
.btn-undo:focus,
.btn-delete:focus,
.btn-done:focus{
    outline: none;
}

.list-group-item-warning{
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    margin-top: 5px;
    border-radius: 10px;
}
.list-group-item-success{
    background-color: var(--primary-color);
    border: none;
    color: var(--secondary-color);
    margin-top: 5px;
    border-radius: 10px;
}
.list-group-item-success .btn-delete{
    background-color: red;
    color: var(--secondary-color);
}